@{
    ViewData["Title"] = "Provinces";
}

<h2>Provinces</h2>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#grid").jqGrid
                ({
                    url: "/Province/GetDataGrid",
                    datatype: 'json',
                    mtype: 'Get',
                    colModel: [
                        { label: "Code", name: "code" },
                        { label: "Name", name: "name" },
                        { label: "Level Name", name: "levelName" }
                    ],
                    pager: jQuery('#pager'),
                    height: '100%',
                    autowidth: true,
                    rowNum: 10,
                    rowList: [10, 20, 30, 50],
                    viewrecords: true
                })
        });
    </script>
}
