@{
    ViewData["Title"] = "Wards";
}

<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>

@section scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script>
        $(function () {
            $("#grid").jqGrid
                ({
                    url: "/Ward/GetData",
                    datatype: 'json',
                    mtype: 'Get',
                    //table header name
                    colNames: ['Code', 'Name', 'Level Name', 'District Code', 'District Name', 'Province Code', 'Province Name'],
                    //colModel takes the data from controller and binds to grid
                    colModel: [
                        { name: "code" },
                        { name: "name" },
                        { name: "levelName" },
                        { name: "district.code" },
                        { name: "district.name" },
                        { name: "province.code" },
                        { name: "province.name" }
                    ],
                    caption: 'Wards',
                    pager: jQuery('#pager'),
                    height: '100%',
                    autowidth: true,
                    rowNum: 10,
                    rowList: [10, 20, 30, 50],
                    viewrecords: true
                })
        });
    </script>
}
