@using Hospital.Web.Models;
@model PatientViewModel;

<!-- Modal -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="card card-primary">
            <form id="form-info">
                <div class="modal-header">
                    <h5 class="modal-title" id="patientModalLabel">@(Model.IsEdit ? "Edit Patient" : "Create Patient")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        @if (Model.IsEdit)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="chartNumber">Chart Number</label>
                                        <input asp-for="ChartNumber" type="text" class="form-control" placeholder="Chart Number" readonly>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <div class="form-check">
                                        <input asp-for="Gender" class="form-check-input" type="radio" value="Male" checked>
                                        <label for="Male" class="form-check-label">Male</label>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="Gender" class="form-check-input" type="radio" value="Female">
                                        <label for="Female" class="form-check-label">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Date of birth:</label>
                                    <div class="input-group date" id="info-dob-date" data-target-input="nearest">
                                        <input asp-for="Dob" type="text" class="form-control datetimepicker-input" data-target="#info-dob-date" placeholder="mm/dd/yyyy" />
                                        <div class="input-group-append" data-target="#info-dob-date" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="firstName">Phone</label>
                                    <input asp-for="Phone" type="number" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="firstName">Email</label>
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea asp-for="Address" class="form-control" rows="3" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Ward</label>
                                    <select asp-for="WardCode" asp-items="Model.SelectWards" class="form-control select2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>District</label>
                                    <select asp-for="DistrictCode" asp-items="Model.SelectDistricts" class="form-control select2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Province</label>
                                    <select asp-for="ProvinceCode" asp-items="Model.SelectProvinces" class="form-control select2" onchange="OnSelectProvinceFormInfo(this.options[this.selectedIndex].value)">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="zipCode">Zip Code</label>
                                    <input asp-for="ZipCode" type="text" class="form-control" placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Save(@Model.IsEdit.ToString().ToLower(), '@Model.Id')">@(Model.IsEdit ? "Update" : "Create")</button>
                </div>
            </form>
        </div>
    </div>
</div>
