@using Hospital.Web.Models
@{
    ViewData["Title"] = "Patients";
}
@model FilterPatientViewModel;

<h2>Patients</h2>
<partial name="_FilterPartientPartial.cshtml" for="@Model" />
<div class="row">
    <div class="col-lg-12 text-right">
        <button type="button" class="btn btn-success ml-2" onClick="FilterData()">
            Filter
        </button>
        <button type="button" class="btn btn-warning ml-2" onClick="ClearFilter()">
            Clear
        </button>
        <button type="button" class="btn btn-primary ml-2" onclick="OpenCreateNew()">
            Create New
        </button>
    </div>
</div>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
<!-- Modal -->
@* <partial name="_PatientModalPartial.cshtml"> *@
<div class="modal fade" id="patientModal" tabindex="-1" aria-hidden="true">
</div>
@section scripts {
    <script>
        $(function () {
            //Date picker
            $('#filter-dob-date').datetimepicker({
                format: 'L'
            });
            $("#grid").jqGrid
                ({
                    url: "/Patient/InitializeGrid",
                    datatype: 'json',
                    mtype: 'Get',
                    colModel: [
                        { label: "Chart Number", name: "chartNumber" },
                        { label: "First Name", name: "firstName" },
                        { label: "Last Name", name: "lastName" },
                        { label: "Gender", name: "gender" },
                        { label: "Date of birth", name: "dob", formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
                        { label: "Phone", name: "phone" },
                        { label: "Email", name: "email" },
                        { label: "Address", name: "address" }
                    ],
                    caption: 'Patients',
                    pager: jQuery('#pager'),
                    height: '100%',
                    autowidth: true,
                    rowNum: 10,
                    rowList: [10, 20, 30, 50],
                    viewrecords: true
                })
        })

        function FilterData() {
            var filterFormData = $("#filter-form").serialize();
            $.ajax({
                url: '/Patient/GetDataFilter',
                dataType: 'json',
                data: filterFormData,
                success: function (response) {
                    // Handle successful response, populate jqGrid with data
                    jQuery("#grid")
                        .jqGrid('setGridParam',
                            {
                                datatype: 'local',
                                data: response.rows
                            })
                        .trigger("reloadGrid");
                },
                error: function (response) {
                    // Handle error
                    toastr.error(response.responseText);
                }
            });
        }

        function ClearFilter() {

        }

        function OpenCreateNew() {
            $.ajax({
                type: "GET",
                url: "/Patient/OpenNewDialog",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#patientModal").html(response);
                    //Date picker
                    $('#info-dob-date').datetimepicker({
                        format: 'L'
                    });
                    $("#patientModal").modal('show');
                },
                error: function (response) {
                    toastr.error(response.responseText);
                }
            });
        }

        function SaveChanges() {
            var formData = $("#form-info").serialize();
            $.ajax({
                url: '/Patient/Create',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response == null || response == undefined) {
                        toastr.error("Error system!!!");
                    }
                    else if (response.length > 0) {
                        for (let message of response) {
                            toastr.error(message);
                        }
                    }
                    else {
                        toastr.success("Created successfully.");
                        $("#patientModal").modal('hide');
                        $('#grid').trigger('reloadGrid');
                    }
                },
                error: function (response) {
                    toastr.error(response.responseText);
                }
            });
        }
    </script>
}
