@using Hospital.Web.Models
@{
    ViewData["Title"] = "Patients";
}
@model PatientViewModel;


<h2>Patients</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patientModal">
    Create Patient
</button>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
<!-- Modal -->
<partial name="_PatientModalPartial.cshtml" for="@Model">

    @section scripts {
        <script>
            $(function () {
                //Date picker
                $('#reservationdate').datetimepicker({
                    format: 'L'
                });

                $("#grid").jqGrid
                    ({
                        url: "/Patient/GetData",
                        datatype: 'json',
                        mtype: 'Get',
                        colModel: [
                            { label: "Chart Number", name: "chartNumber" },
                            { label: "First Name", name: "firstName" },
                            { label: "Last Name", name: "lastName" },
                            { label: "Gender", name: "gender" },
                            { label: "Date of birth", name: "dob", formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
                            { label: "Phone", name: "phone" },
                            { label: "Email", name: "email" },
                            { label: "Address", name: "address" }
                        ],
                        caption: 'Patients',
                        pager: jQuery('#pager'),
                        height: '100%',
                        autowidth: true,
                        rowNum: 10,
                        rowList: [10, 20, 30, 50],
                        viewrecords: true
                    })
            })

            function SaveChanges() {
                var formData = $("#form-info").serialize();
                console.log(formData);
                $.ajax({
                    url: '/Patient/Create',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response == null || response == undefined) {
                            toastr.error("Error system!!!");
                        }
                        else if (response != '') {
                            toastr.error(response);
                        }
                        else {
                            toastr.success("Created successfully.");
                            location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error(error)
                    }
                });
            }
        </script>
    }
